<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}
      
    {% endblock title %}</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&amp;display=swap" rel="stylesheet">
    
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
{% block meta %}
  
{% endblock meta %}


<body class="hidden-bar-wrapper">
     
<div class="page-wrapper">
    <div class="preloader">
    	<div class="mesh-loader">
	      <div class="set-one">
	        <div class="circle"></div>
	        <div class="circle"></div>
	      </div>
	      <div class="set-two">
	        <div class="circle"></div>
	        <div class="circle"></div>
	      </div>

	    </div>
    </div>
    <header class="main-header">
        <div class="header-upper">
        	<div class="auto-container clearfix">            	
				<div class="pull-left logo-box">
					<div class="logo"><a href=""><img src="{% static 'images/logo.png' %}" alt="" title=""></a></div>
				</div>	
				<a href="" style="display: none;" class="theme-btn sign_up btn-style-three">Sign Up</a>


				<div class="nav-outer clearfix">
					<div class="mobile-nav-toggler"><span class="icon flaticon-menu"></span></div>
					<nav class="main-menu navbar-expand-md">
						<div class="navbar-header">
							<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>						
						<div class="navbar-collapse collapse clearfix" id="navbarSupportedContent">
							<ul class="navigation clearfix">
								<li><a href="/">Home</a></li>
								<li class="dropdown"><a href="">Services</a>
									<ul>
										<li><a href="assignment-help/">Online Assignment Help</a></li>
										<li><a href="">Essay Writing Help</a></li>
										<li><a href="">Live Sessions</a></li>
										<li><a href="">Project/Lab Report Help</a></li>
										<li><a href="">Coursework Help</a></li>
										<li><a href="">Dissertation Writing Help</a></li>
										<li><a href="">Case Study Writing Help</a></li>
									</ul>
								</li>
								<li class="dropdown"><a href="">Subject</a>
									<ul>
										<li><a href="">Physics Homework Help</a></li>
										<li><a href="">Chemistry Homework Help</a></li>
										<li><a href="">Math Homework Help</a></li>
										<li><a href="">Science Homework Help</a></li>
										<li><a href="">English Homework Help</a></li>
										<li><a href="">Programming Homework Help</a></li>
										<li class="more"><a style="color: #43b97e;" href="">View More <span class="fa fa-angle-double-right"></span>
										</a></li>
										<!-- <li><a href="">Engineering Homework Help</a></li>
										<li><a href="">Computer Science Homework Help</a></li>
										<li><a href="">Statistics Homework Help</a></li>
										<li><a href="">Accounting Homework Help</a></li>
										<li><a href="">Economics Homework Help</a></li> -->
									</ul>
								</li>
								<li class="dropdown"><a href="">Features</a>
									<ul>
										<li><a href="">1000+ Expert Tutors</a></li>
										<li><a href="">100% Plagiarsim Free Solutions</a></li>
										<li><a href="">Cost Effective Pricing</a></li>
										<li><a href="">Confidentiality</a></li>
										<li><a href="">One Destination for All Subject Solutions</a></li>
										<li><a href="">24x7 Availability</a></li>
										<li><a href="">100% Correct Solutions</a></li>
										<li><a href="">On Time delivery</a></li>
									</ul>
								</li>
								<li><a href="{% url 'blog' %}">Blog</a></li>
								<li><a href="">Reviews</a></li>
								<a href="" class="theme-btn sign_up btn-style-three">Sign Up</a>

							</ul>
						</div>
					</nav>
				</div>
				
            </div>
        </div>
        <!--End Header Upper-->
        
		<!-- Sticky Header  -->
        <div class="sticky-header">
            <div class="auto-container clearfix">
                <div class="logo pull-left">
                    <a href="index-2.html" title=""><img src="{% static 'images/logo.png' %}" alt="" title=""></a>
                </div>
                <div class="pull-right">
                    <nav class="main-menu">
                        <!--Keep This Empty / Menu will come through Javascript-->
                    </nav>
					<div class="outer-box clearfix">
					</div>
                </div>
            </div>
        </div>
		<!-- End Sticky Menu -->
    
		<!-- Mobile Menu  -->
        <div class="mobile-menu">
            <div class="menu-backdrop"></div>
            <div class="close-btn"><span class="icon flaticon-multiply"></span></div>
            
            <nav class="menu-box">
                <div class="nav-logo"><a href=""><img src="{% static 'images/logo.png' %}" alt="" title=""></a></div>

                <div class="menu-outer"></div>
            </nav>
        </div><!-- End Mobile Menu -->
	
    </header>
    {% block body %}
      
    {% endblock body %}


    
    <footer class="main-footer">
		<div class="circle-layer"></div>
		<div class="pattern-layer-one" style="background-image: url('/static/images/background/pattern-12.png')"></div>
		<div class="pattern-layer-two" style="background-image: url('/static/images/background/pattern-13.png')"></div>
		<div class="pattern-layer-three" style="background-image: url('/static/images/background/pattern-14.png')"></div>
		<div class="pattern-layer-four" style="background-image: url('/static/images/background/pattern-13.png')"></div>
    	<div class="auto-container">
        	<!--Widgets Section-->
            <div class="widgets-section">
            	<div class="row clearfix">
							<!-- Column -->
							<div class="column col-lg-3 col-md-3 col-sm-12">
								<h5>Services </h5>
								<ul class="list">
									<li><a href="assignment-help/">Online Assignment Help</a></li>
									<li><a href="#">Essay Writing Help</a></li>
									<li><a href="#">Live Sessions</a></li>
									<li><a href="#">Project/Lab Report Help</a></li>
									<li><a href="#">Coursework Help</a></li>
									<li><a href="#">Dissertation Writing Help</a></li>
									<li><a href="#">Case Study Writing Help</a></li>
								</ul>
							</div>
							<div class="column col-lg-3 col-md-3 col-sm-12">
								<h5>Subject</h5>
								<ul class="list">
									<li><a href="#">Physics Homework Help</a></li>
									<li><a href="#">Chemistry Homework Help</a></li>
									<li><a href="#">Math Homework Help</a></li>
									<li><a href="#">Programming Homework Help</a></li>
									<li><a href="#">Engineering Homework Help</a></li>
									<li><a href="#">Computer Science Homework Help</a></li>
									<li><a href="#">Statistics Homework Help</a></li>
									<li><a href="#">Accounting Homework Help</a></li>
									<li><a href="#">Economics Homework Help</a></li>
								</ul>
							</div>
							
							<!-- Column -->
							<div class="column col-lg-3 col-md-3 col-sm-12">
								<h5>Features</h5>
								<ul class="list">
									<li><a href="#">1000+ Expert Tutors</a></li>
									<li><a href="#">100% Plagiarsim Free Solutions</a></li>
									<li><a href="#">Cost Effective Pricing</a></li>
									<li><a href="#">Confidentiality</a></li>
									<li><a href="#">One Destination for All Subject Solutions</a></li>
									<li><a href="#">24x7 Availability</a></li>
									<li><a href="#">100% Correct Solutions</a></li>
									<li><a href="#">On Time delivery</a></li>
								</ul>
							</div>
							<!-- Column -->
							<div class="column pl-5 col-lg-3 col-md-3 col-sm-12">
								<h5>About</h5>
								<ul class="list">
									<li><a href="#">About Us</a></li>
									<li><a href="blog/">Blog</a></li>
									<li><a href="#">Refund Policy</a></li>
									<li><a href="#">Privacy Policy</a></li>
									<li><a href="#">Terms and Conditions</a></li>
									<li><a href="#">FAQs</a></li>
									<li><a href="#">Reviews</a></li>
								</ul>
							</div>
							
				</div>
			</div>
			
			
			<!-- Footer Bottom -->
			<div class="footer-bottom">
				<div class="row clearfix">
					
					<!-- Copyright Column -->
					<div class="copyright-column col-lg-6 col-md-12 col-sm-12">
						<div class="copyright">Copyright 2021, All Right Reserved</div>
					</div>
					
					<!-- Nav Column -->
					<div class="nav-column logo-widget col-lg-6 col-md-12 col-sm-12">
						<ul class="social-box">
								<li class="twitter"><a target="_blank" href="http://twitter.com/" class="fa fa-twitter"></a></li>
								<li class="pinterest"><a target="_blank" href="http://pinterest.com/" class="fa fa-pinterest-p"></a></li>
								<li class="facebook"><a target="_blank" href="http://facebook.com/" class="fa fa-facebook-f"></a></li>
								<li class="dribbble"><a target="_blank" href="https://instagram.com/" class="fa fa-instagram"><img src="{% static 'images/instagram.png' %}"> </a></li>
							</ul>
					</div>
					
				</div>
			</div>
			
		</div>
	</footer>
	

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script src="{% static 'js/jquery.fancybox.js' %}"></script>
    <script src="{% static 'js/appear.js' %}"></script>
    <script src="{% static 'js/parallax.min.js' %}"></script>
    <script src="{% static 'js/tilt.jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery.paroller.min.js' %}"></script>
    <script src="{% static 'js/owl.js' %}"></script>
    <script src="{% static 'js/wow.js' %}"></script>
    <script src="{% static 'js/nav-tool.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'js/jquery.paroller.min.js' %}"></script>
    <script>
        
        $('.count').each(function () {
            $(this).prop('Counter',0).animate({
                Counter: $(this).text()
            }, {
                duration: 10000,
                easing: 'swing',
                step: function (now) {
                    $(this).text(Math.ceil(now));
                }
            });
        }); 
        
    </script>

</body>
</html>