{% extends "base.html" %}
{% load static %}

{% block title %}
Online Homework Help - 24x7 Homework Help from TutorChamps.com
{% endblock title %} 

{% block meta %}
<meta name="description" content="Are you struggling with homework writing? Try Tutor Champs and Get the best online homework help solution from expert tutors. Get Solution Now!">
{% endblock meta %}

{% block body %}

    <!-- End Main Header -->
	
	<!-- Banner Section -->
    <section class="banner-section">
		<div class="auto-container">
            <div class="pattern-layer-six" style="background-image: url('/static/images/main-slider/pattern-4.png')"></div>
			<div class="pattern-layer-seven" style="background-image: url('/static/images/main-slider/pattern-5.png')"></div>
			<div class="pattern-layer-eight" style="background-image: url('/static/images/main-slider/icon-2.png')"></div>
			<div class="row clearfix">
			
				<!-- Image Column -->
				<div class="image-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="pattern-layer-one" style="background-image: url('/static/images/main-slider/pattern-1.png')"></div>
						<div class="pattern-layer-two" style="background-image: url('/static/images/main-slider/pattern-2.png')"></div>
						<div class="pattern-layer-three" style="background-image: url('/static/images/main-slider/icon-1.png')"></div>
						<div class="pattern-layer-four" style="background-image: url('/static/images/main-slider/pattern-3.png')"></div>
						<div class="pattern-layer-five" style="background-image: url('/static/images/main-slider/icon-2.png')"></div>
						<div class="image">
							<img src="{% static 'images/main-slider/image-1.png' %}" alt="" />
						</div>
						<div class="image-two pl-3">
							<img src="{% static 'images/main-slider/image-4.png' %}" alt="" />
						</div>
						<div class="image-content" style="background-image: url('/static/images/main-slider/pattern-6.png')">
							<p>5400+ Order <br> Delivered</p>
						</div>
					</div>
				</div>
				
				<!-- Content Column -->
				<div class="content-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<h1>Online Homework<br> Help</h1>
						<div class="title mt-5">Get the best online homework help from the champion tutors</div>
						<div class="btns-box">
							<a href="" class="theme-btn btn-style-one"><span class="txt">Get Solution Now</span></a>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Banner Section -->
	
	<!-- Instructor Section -->
	<section class="instructor-section">
		<div class="background-layer" style="background-image:url('/static/images/background/1.png')"></div>
		<div class="background-layer-one" style="background-image:url('/static/images/background/pattern-1.png')"></div>
		<div class="background-layer-two" style="background-image:url('/static/images/background/pattern-2.png')"></div>
		<div class="auto-container">
			<div class="row clearfix">
				<div class="col-12 sec-title text-center"><h2>Get Academic Assistance in <br>A Simplest Manner</h2> </div>
				<div class="service-block col-lg-3 col-md-3 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="border-layer"></div>
						<div class="icon-box">
							<div class="icon flaticon-verify"></div>
						</div>
						<h3><a href="">Submit Your Requirements</a></h3>
						<div class="text">Please submit your homework questions to get a perfect solution.</div>
					</div>
				</div>
				<div class="service-block col-lg-3 col-md-3 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="150ms" data-wow-duration="1500ms">
						<div class="border-layer"></div>
						<div class="icon-box">
							<div class="icon flaticon-heart-box"></div>
						</div>
						<h3><a href="">Set Deadline</a></h3>
						<div class="text">Please tell us your deadline at which you need your solution.</div>
					</div>
				</div>
				<div class="service-block col-lg-3 col-md-3 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="border-layer"></div>
						<div class="icon-box">
							<div class="icon flaticon-verify"></div>
						</div>
						<h3><a href="">Get Expert Tutor</a></h3>
						<div class="text">We assigned a suitable tutor for your solution.</div>
					</div>
				</div>
				<div class="service-block col-lg-3 col-md-3 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="150ms" data-wow-duration="1500ms">
						<div class="border-layer"></div>
						<div class="icon-box">
							<div class="icon flaticon-heart-box"></div>
						</div>
						<h3><a href="">Receive Completed Solution</a></h3>
						<div class="text">Please make the tutor payment and receive a completed solution.</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Instructor Section -->
	
	<!-- Benefit Section -->
	<section class="benefit-section">
		<div class="background-layer-one" style="background-image:url('/static/images/background/pattern-5.png')"></div>
		<div class="background-layer-two" style="background-image:url('/static/images/background/pattern-6.png')"></div>
		<div class="auto-container">
			<div class="row clearfix">
				<div class="images-column col-lg-7 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="pattern-layer" style="background-image:url('/static/images/background/pattern-3.png')"></div>
						<div class="pattern-layer-two" style="background-image:url('/static/images/background/pattern-4.png')"></div>
						<div class="color-layer"></div>
						<div class="image">
							<img src="{% static 'images/resource/benefit-1.jpg' %}" alt="" />
						</div>
						<div class="image-two">
							<img src="{% static 'images/resource/benefit-3.jpg' %}" alt="" />
						</div>
						<div class="image-three">
							<img src="{% static 'images/resource/benefit-2.jpg' %}" alt="" />
						</div>
					</div>
				</div>
				<div class="content-column col-lg-5 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="sec-title">
							<div class="title">Features</div>
							<h2>We offer many features with maintaining our quality standard</h2>
						</div>
						<ul class="list-style-one">
							<li><span class="icon flaticon-double-check"></span><strong>2000+ Expert Tutors</strong>We have a team of dedicated and high-qualified university expert tutors that solve your problem perfectly.</li>
							<li><span class="icon flaticon-double-check"></span><strong>Cost Effective Pricing</strong>At Tutor Champs, you will get a high-quality academic assistance service at very affordable prices.</li>
							<li><span class="icon flaticon-double-check"></span><strong>One Destination for All Subject Solutions</strong>Now, you do not need to face any trouble getting homework solutions because Tutor Champs offer all subject solutions under one roof.</li>
						</ul>
						<div class="btn-box">
							<a href="" class="theme-btn btn-style-one"><span class="txt">View more</span></a>
						</div>
					</div>
				</div>				
			</div>
			<div class="lower-text">
				<p>Tutor Champs is a leading homework help provider company nowadays because of its unique services and student care. We are happy to assist our students by solving their homework problem so that they could achieve their desired grades.</p>
			</div>
			
		</div>
	</section>
	<!-- End Benefit Section -->
	
	<!-- Feature Section -->
	<section class="feature-section">
		<div class="pattern-layer" style="background-image:url('/static/images/background/pattern-7.png')"></div>
		<div class="auto-container">
			<div class="row clearfix">
				<div class="content-column col-lg-7 col-md-12 col-sm-12">
					<div class="inner-column pt-1">
						<div class="sec-title">
							<h2>Why you should take online homework help from Tutor Champs?</h2>
							<ul class="list-style-one mt-5">
							<li><span class="icon flaticon-double-check"></span>We offer online homework solutions from top rated expert tutors so that you can get your desired grades in academics.</li>
							<li><span class="icon flaticon-double-check"></span>We offer live sessions in which you will book a time slot with subject experts and can solve your problem in real time.</li>							
							<li><span class="icon flaticon-double-check"></span>We are dedicated to providing the best client satisfaction and best experience on a high priority. 
							</li><li><span class="icon flaticon-double-check"></span>We offer cost effective pricing so that everyone can afford it.
							</li>
						</ul>
						</div>
						<!-- <div class="btn-box">
							<a href="" class="theme-btn btn-style-two"><span class="txt">Short courses</span></a>
						</div> -->
					</div>
				</div>
				
				<!-- Image Column -->
				<div class="image-column col-lg-5 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="color-layer"></div>
						<div class="image wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
							<img src="{% static 'images/resource/feature.jpg' %}" alt="" />
							<div class="overlay-box">
								<div class="content">
									<h3>How online tutoring works for students?</h3>
									<p>In this new education system, online tutoring is playing a big role in solving homework problems of the students and also helps to understand the concept of the problem in a better way.<br> So why are you waiting for? Get solutions to the problem now from well-qualified tutors.</p>
									<a href="#" class="learn">Get Solution Now!</a>
								</div>
							</div>
						</div>
						<div class="feature-icon wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
							<img src="{% static 'images/resource/feature-icon.png' %}" alt="" />
						</div>
					</div>
				</div>
				
			</div>
			
		</div>
	</section>
	<!-- End Benefit Section -->
	
	<!-- Courses Section -->
	<section class="courses-section">
		<div class="pattern-layer" style="background-image:url('/static/images/background/pattern-2.png')"></div>
		<div class="circle-one paroller" data-paroller-factor="-0.20" data-paroller-factor-lg="0.20" data-paroller-type="foreground" data-paroller-direction="horizontal"></div>
		<div class="circle-two paroller" data-paroller-factor="0.20" data-paroller-factor-lg="-0.20" data-paroller-type="foreground" data-paroller-direction="horizontal"></div>
		<div class="auto-container">
			<div class="sec-title centered">
				<h2>You can get online homework help with <br> our featured services.</h2>
				<div class="text">Our featured services are going to help you to solve your all queries.</div>
			</div>
			<div class="row clearfix">
				<div class="course-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<a href=""><img src="{% static 'images/resource/course-1.jpg' %}" alt="" /></a>
						</div>
						<div class="lower-content">
							<h4><a href="">Online Homework Help</a></h4>							
						</div>
					</div>
				</div>
				
				<!-- Course Column -->
				<div class="course-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<a href=""><img src="{% static 'images/resource/course-2.jpg' %}" alt="" /></a>
						</div>
						<div class="lower-content">
							<h4><a href="">Essay Writing Help</a></h4>
						</div>
					</div>
				</div>
				
				<!-- Course Column -->
				<div class="course-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<a href=""><img src="{% static 'images/resource/course-3.jpg' %}" alt="" /></a>
						</div>
						<div class="lower-content">
							<h4><a href="">Live Sessions</a></h4>
						</div>
					</div>
				</div>
				
			</div>
			<div class="row clearfix">
				<div class="course-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<a href=""><img src="{% static 'images/resource/course-1.jpg' %}" alt="" /></a>
						</div>
						<div class="lower-content">
							<h4><a href="">Project/Lab Report Help</a></h4>							
						</div>
					</div>
				</div>
				
				<!-- Course Column -->
				<div class="course-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<a href=""><img src="{% static 'images/resource/course-3.jpg' %}" alt="" /></a>
						</div>
						<div class="lower-content">
							<h4><a href="">Dissertation Help</a></h4>
						</div>
					</div>
				</div>
				
				<!-- Course Column -->
				<div class="course-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<a href=""><img src="{% static 'images/resource/course-2.jpg' %}" alt="" /></a>
						</div>
						<div class="lower-content">
							<h4><a href="">Case Study Help</a></h4>
						</div>
					</div>
				</div>
				
			</div>

		</div>
	</section>
	<!-- End Courses Section -->
	
	<!-- Career Section -->
	<section class="career-section">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title text-center">
				<h2>FAQs</h2>
			</div>
			
			<div class="row clearfix">
				
				<!-- Image Column -->
				<div class="image-column col-lg-5 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="image titlt" data-tilt data-tilt-max="4">
							<img src="{% static 'images/resource/career.png' %}" alt="" />
						</div>
					</div>
				</div>
				
				<!-- Content Column -->
				<div class="content-column col-lg-7 col-md-12 col-sm-12">
					<div class="inner-column">
						<div id="accordion">
							<div class="card questions-con">
							    <div class="card-header" id="headingOne">
							      <h5 class="mb-0">
							        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							          What are the benefits to taking online homework help from Tutor Champs?
							        </button>
							      </h5>
							    </div>

							    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
							      <div class="card-body">
							        As an online homework help platform, Tutor Champs offers several benefits to students which makes it highly sought after. To begin with, Tutor Champs offers online homework help to students by global tutors who have passed out of premier academic institutions and come with academic
							      </div>
							    </div>
							</div>
							<div class="card questions-con">
							    <div class="card-header" id="headingTwo">
							      <h5 class="mb-0">
							        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
							          How does Tutor Champs ensure top notch quality solutions?
							        </button>
							      </h5>
							    </div>
							    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
							      <div class="card-body">
							        At Tutor Champs, Students get access to expert tutors who provide 100% correct solutions. Our panel of subject matter experts are available to help you out with any online tutoring need at any time of the day.
							      </div>
							    </div>
							</div>
							<div class="card questions-con">
							    <div class="card-header" id="headingThree">
							      <h5 class="mb-0">
							        <button class="btn btn-link collapsed questions" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
							         What are the other e-learning services offered by Tutor Champs?
							        </button>
							      </h5>
							    </div>
							    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
							      <div class="card-body">
							        Tutor  Champs provides the multiple e-learning services as Online Homework Help, Essay Writing Help, Live Sessions, Project/Lab Report Help, Dissertation Help, Case Study Help, and Coursework Help from a team of more than 2000 expert tutors.
							      </div>
							    </div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Career Section -->
	
	<!-- Skill Section -->
	<section class="skill-section">
		<div class="pattern-layer" style="background-image:url('/static/images/background/pattern-8.png')"></div>
		<div class="auto-container">
			<div class="row clearfix">
				
				<!-- Skill Column -->
				<div class="skill-column col-lg-7 col-md-12 col-sm-12">
					<div class="inner-column">
						<!-- Sec Title -->
						<div class="sec-title pt-3">
							<!-- <div class="title">Our Status valu</div> -->
							<h2>Stats that shows we are unique from other platforms</h2>
							<div class="text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</div>
						</div>
						<div class="skills">

							<!-- Skill Item -->
							<div class="skill-item">
								<div class="skill-header clearfix">
									<div class="skill-title">97% Score High Grades</div>
									<div class="skill-percentage">
										<div class="count-box">
											<span class="count-text" data-speed="2000" data-stop="97">0</span>%
										</div>
									</div>
								</div>
								<div class="skill-bar">
									<div class="bar-inner"><div class="bar progress-line" data-width="97"></div></div>
								</div>
							</div>

							<!-- Skill Item -->
							<div class="skill-item">
								<div class="skill-header clearfix">
									<div class="skill-title">98% Clients Refer Us To Their Friends</div>
									<div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="2000" data-stop="98">0</span>%</div></div>
								</div>
								<div class="skill-bar">
									<div class="bar-inner"><div class="bar progress-line" data-width="98"></div></div>
								</div>
							</div>

							<!-- Skill Item -->
							<div class="skill-item">
								<div class="skill-header clearfix">
									<div class="skill-title">100% Money back policy*</div>
									<div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="2000" data-stop="100">0</span>%</div></div>
								</div>
								<div class="skill-bar">
									<div class="bar-inner"><div class="bar progress-line" data-width="100"></div></div>
								</div>
							</div>

						</div>
						
					</div>
				</div>
				
				<!-- Image Column -->
				<div class="image-column col-lg-5 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="circle-one"></div>
						<div class="circle-two"></div>
						<div class="image titlt" data-tilt data-tilt-max="4">
							<img src="{% static 'images/resource/skill.png' %}" alt="" />
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Skill Section -->
	
	<!-- Testimonial Section -->
	<section class="testimonial-section">
		<div class="circle-one paroller" data-paroller-factor="-0.20" data-paroller-factor-lg="0.20" data-paroller-type="foreground" data-paroller-direction="horizontal"></div>
		<div class="circle-two paroller" data-paroller-factor="0.20" data-paroller-factor-lg="-0.20" data-paroller-type="foreground" data-paroller-direction="horizontal"></div>
		<div class="pattern-layer-two" style="background-image:url('/static/images/background/pattern-10.png')"></div>
		<div class="auto-container">
			<div class="inner-container">
				<div class="pattern-layer" style="background-image:url('/static/images/background/pattern-9.png')"></div>
				<!-- Sec Title -->
				<div class="sec-title centered">
					<div class="title">Testimonial</div>
					<h2>Words From Customers</h2>
					<div class="text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu <br> fugiat nulla pariatur Duis aute irure dolor in reprehenderit in</div>
				</div>
				<div class="testimonial-carousel owl-carousel owl-theme">
					<div class="testimonial-block">
						<div class="inner-box">
							<div class="text">Tutor Champs is truly an efficient homework writing service according to me. I am amazed by the sheer professionalism and transparency of the writers of this site. I’m sticking to this site for all my academic requirements.</div>
							<div class="author-info">
								<div class="info-inner">
									<div class="author-image">
										<img src="{% static 'images/customer.png' %}" alt="" />
									</div>
									<h6>Chris</h6>
									<div class="designation">student</div>
								</div>
							</div>
							<div class="quote-icon flaticon-quote-2"></div>
						</div>
					</div>
					<div class="testimonial-block">
						<div class="inner-box">
							<div class="text">Every site I approached always quoted ridiculously high prices for offering homework help. Then my friend recommended your site and I found that the prices were extremely nominal.</div>
							<div class="author-info">
								<div class="info-inner">
									<div class="author-image">
										<img src="{% static 'images/customer.png' %}" alt="" />
									</div>
									<h6>Kennedy</h6>
									<div class="designation">student</div>
								</div>
							</div>
							<div class="quote-icon flaticon-quote-2"></div>
						</div>
					</div>
					<div class="testimonial-block">
						<div class="inner-box">
							<div class="text">I've always been such an average student, but then Tutor Champs happened, and that reflected positively on my academic performance. Hiring you guys for my paper was the best thing I've done.</div>
							<div class="author-info">
								<div class="info-inner">
									<div class="author-image">
										<img src="{% static 'images/customer.png' %}" alt="" />
									</div>
									<h6>Sejal</h6>
									<div class="designation">student</div>
								</div>
							</div>
							<div class="quote-icon flaticon-quote-2"></div>
						</div>
					</div>
					<div class="testimonial-block">
						<div class="inner-box">
							<div class="text">I had casually placed an order on Tutor Champs for a short essay and wanted to see if their claim of timely delivery of tasks was true or not. The assignment was not delivered on time, but the quality of the essay was also remarkable.</div>
							<div class="author-info">
								<div class="info-inner">
									<div class="author-image">
										<img src="{% static 'images/customer.png' %}" alt="" />
									</div>
									<h6>Joe</h6>
									<div class="designation">student</div>
								</div>
							</div>
							<div class="quote-icon flaticon-quote-2"></div>
						</div>
					</div>
					<div class="testimonial-block">
						<div class="inner-box">
							<div class="text">I love these guys, so amazing. My homework problem is not easy, but they did so well. I will go with the more, Thank you to the tutor. Amazing job on time.</div>
							<div class="author-info">
								<div class="info-inner">
									<div class="author-image">
										<img src="{% static 'images/customer.png' %}" alt="" />
									</div>
									<h6>Anita</h6>
									<div class="designation">student</div>
								</div>
							</div>
							<div class="quote-icon flaticon-quote-2"></div>
						</div>
					</div>
					<div class="testimonial-block">
						<div class="inner-box">
							<div class="text">Excellent experience with a professionally delivered work. Highly recommended! Answered my question which I didn't understand and broke it down into sections which was very useful and understandable.</div>
							<div class="author-info">
								<div class="info-inner">
									<div class="author-image">
										<img src="{% static 'images/customer.png' %}" alt="" />
									</div>
									<h6>Cesar</h6>
									<div class="designation">student</div>
								</div>
							</div>
							<div class="quote-icon flaticon-quote-2"></div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</section>
	<!-- End Testimonial Section -->
	
	<!-- News Section -->
	<section class="news-section">
		<div class="pattern-layer" style="background-image:url(images/background/pattern-11.png)"></div>
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title centered">
				<div class="title">Our Blogs</div>
				<h2>Latest articles and blogs</h2>
				<div class="text">Our blogs and articles are based on the latest trends in online education and have tips and tricks<br> that help the students in their exam preparation and writing skills.</div>
			</div>
			<div class="inner-container">
				<div class="icon-layer-one" style="background-image:url('/static/images/icons/icon-1.png')"></div>
				<div class="icon-layer-two" style="background-image:url('/static/images/icons/icon-2.png')"></div>
				<div class="icon-layer-three" style="background-image:url('/static/images/icons/icon-2.png')"></div>
				<div class="row clearfix">
				
					<!-- News Block -->
					<div class="news-block col-lg-6 col-md-6 col-sm-12">
						<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
							<div class="image">
								<a href="#"><img src="{% static 'images/resource/news-1.jpg' %}" alt="" /></a>
							</div>
							<div class="lower-content">
								<div class="border-layer"></div>
								<ul class="post-info">
									<li>Essay Writing</li>
									<li>Updated  May 02, 2021</li>
								</ul>
								<h4><a href="#">Top Persuasive Speech Topics for 2020 for Amazing Speeches</a></h4>
								<a href="#" class="more">More <span class="fa fa-angle-double-right"></span></a>
							</div>
						</div>
					</div>
					
					<!-- News Block -->
					<div class="news-block col-lg-6 col-md-6 col-sm-12">
						<div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
							<div class="image">
								<a href="#"><img src="{% static 'images/resource/news-2.jpg' %}" alt="" /></a>
							</div>
							<div class="lower-content">
								<div class="border-layer"></div>
								<ul class="post-info">
									<li>Online tutoring</li>
									<li>Updated  May 02, 2021</li>
								</ul>
								<h4><a href="#"> Online tutoring – To learn or not to learn</a></h4>
								<a href="#" class="more">More <span class="fa fa-angle-double-right"></span></a>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</section>
	<!-- End News Section -->
	
	<section id="counter-stats" class="wow fadeInRight">
		<div class="pattern-layer-seven" style="background-image: url('/static/images/main-slider/pattern-5.png')"></div>
		<div class="background-layer-one" style="background-image:url('/static/images/background/pattern-5.png')">
		</div>
		<div class="icon-layer-one" style="background-image:url(images/icons/icon-1.png)"></div>
	    <div class="container-fluid text-muted my-5">
	    	<h2 class="text-center text-dark font-weight-bold pb-5 mb-3">Key Metrics</h2>
	        <div class="d-flex justify-content-around flex-properties">
	            <div class="stats shadow-sm rounded-lg p-4">
	                <div>
	                    <img src="{% static 'images/graduation.png' %}"><br>
	                    <div class="count">2000</div>
	                    <h5>Expert Tutors</h5>
	                    <small>Available at Tutor Champs to solve homework and assignments related doubts.</small>
	                </div>
	            </div>

	            <div class="stats shadow-sm rounded-lg p-4">
	                <div>
	                    <i class="fa fa-clipboard" aria-hidden="true"></i><br>
	                    <div class="count">10000</div>
	                    <h5>Answers</h5>
	                    <small>A new question is solved on Tutor Champs every 30 seconds!</small>
	                </div>
	            </div>

	            <div class="stats shadow-sm rounded-lg p-4">
	                <div>
	                    <i class="fa fa-list-ul" aria-hidden="true"></i><br>
	                    <div class="count">250</div>
	                    <h5>Subjects</h5>
	                    <small>Global subject matter experts having specialisation across multiple subjects.</small>
	                </div>
	            </div>


	        </div>
	        <div class="text-center mt-5 pt-3">
	        	<a href="" class="theme-btn btn-style-one"><span class="txt">Get Solution Now</span></a>
	        </div>
	    </div>
	    <!-- end container -->
	</section>
	
	<!-- Main Footer -->
  
	
</div>


<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-arrow-up"></span></div>


{% endblock body %}
